*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
    
}

.bg {
    background-image: url("/assets/images/main.jpeg");
    background-position: center;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative;
  }

.menu-btn{
    text-align: center;
    height:35px;
    width: 100px;
    float: right;
    margin: 25px;
    border-radius: 5px;
}

.menu-btn button{
    margin: 10px;
    height: auto;
    width: auto;
    color: white;
    background-color: transparent;
    border: 0;
}
.menu-btn:hover{
     background-color: rgba(139, 139, 139, 0.372);
}
.logo img{
    height:70px;
    width: 130px;
}
.bg .row-header{
    display: flex;
    justify-content: center; 
}
.row-header{
    font-family: Graphik Web,Graphik,sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 1.32;
    display: flex;
    gap: 5%;
    text-align: center;
    margin-bottom: 10%;
    justify-content: center;
    width: 100%;
    color: #fff;
    line-height: 1.3;
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1900px;
}

.row-header {
    margin-top: 10%;
    padding-right: 40px;
    padding-left: 40px;
}
.column-header h6{
    margin: 10%;
    color: #1ce783;
}
.column-header h3{
    letter-spacing: 0;
    line-height: 1.32;
    text-transform: none;
    margin-top: 8px;
}
.column-header button{
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    height: 40px;
    width: 100%;
    background-color:#1ce783;
    border-radius: 10px;
    color: black;
    border: none;
    cursor: pointer;
    text-decoration: none;
    background-clip: padding-box;
}
    @media (max-width: 767px){
        .column-header button{
        margin: 0 auto;
        width: auto;
        padding: 5px;
    }
    }
.column-header button:hover{
    background-color: rgba(131, 245, 131, 0.863);
}
.column-header img{
    height: 60px;
    width: 300px;
}
.links{
    display: block;
    text-align: center;
}
.header-link{
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}
.header-link2{
    background: none;
    color: inherit;
    padding: 0;
    font: inherit;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 70px;
}
.plan-title{
        background-image: linear-gradient(rgb(27, 125, 27), rgb(0, 0, 0));
        background-position: center;
        min-width: 100%;
        background-repeat: no-repeat;
        background-size:cover;
        position: relative;  
        display: block;
        text-align: center;    
}

@media (max-width: 1023px){
    .plan-title {
    justify-content: center;
    align-self: auto;
}
}
.plan-title button{
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    justify-content: center;
    position: relative; 
    cursor: pointer; 
    vertical-align: middle;
    background-clip: padding-box;
    width: 264px;
    border-radius: 4px;
    color: #ffffff;
    border-width: 2px;
    border-style: solid;
    border-color: #ffffff;
    background-color: transparent;
    padding: 0 22px;
    height: 48px;
    overflow: hidden;
    margin-bottom: 50px;
}
.plan-title button:hover{
    background-color: lightgrey;
}
.plan{
    background-color: black;
    background-position: center;
    min-width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
    position: relative; 
    display: block;
    text-align: center;  
      
}
.plan p{
    
    color: #1ce783;
}
.plan h1{
    margin-top: 2%; 
    font-family: "Graphik Web",sans-serif;
    font-size: 52px;
    font-weight: bolder;
    line-height: 1.2;
    letter-spacing: -0.2px;
}
.plan h5{
    font-size: 18px;
    margin-top: 2%; 
}
.cards {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card{
    flex: 25%;
    padding: 10px;
    position: relative;
    width: 20%; 
    height: 400px; 
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
}
.card:hover{
    border:4px solid lightgray;
}
.card p{
    color: white;
    top:5%;  
    left:5%;
  font-size: 14px;
  font-weight: bolder;
  position: absolute;
}
.card h2{
    top:11%;  
    left:5%;
  font-size: 18px;
  font-weight: bolder;
  position: absolute;
}

@media screen and (max-width: 702px) {
    .card {
      flex: 50%;
    }
  }
.live{
    position: relative;  
    display: block;
    text-align: center;    
    padding-bottom: 5%;
}

.start{
    background-color: #1ce783;
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    justify-content: center;
    position: relative; 
    cursor: pointer; 
    vertical-align: middle;
    background-clip: padding-box;
    width: 264px;
    border: none;
    border-radius: 4px;
    color: #0f0e0e;
    padding: 0 22px;
    height: 48px;
    overflow: hidden;
    margin-bottom: 50px;
}
.start button:hover{
    background-color: #1ce781c7;
}
.view{
    background: none;
    text-decoration: underline;
    opacity: .8;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0;
    margin: 16px auto 0;
    font-family: Graphik Web,Graphik,sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .6px;
    line-height: 1;
    text-transform: uppercase;
}
.cardtext{
    font-family: "Graphik Web",sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 1.46;
    letter-spacing: 0;
    padding-top: 10px;
    margin-left: 80%;
    
}
.sports {
    background-image: url("/assets/images/sports-bg.jpeg");
    min-width: 100%;
    background-repeat: no-repeat;
    font-family: Graphik,Helvetica,Arial,sans-serif;
    background-color: #0b0c0f;
    width: 100%;
    z-index: -1;
    background-size: cover;
    background-position: center;
        margin: 0 auto;
    padding-top: 34px;
    height: 760px;
  }
  .buttons{
    margin-left: 15%;
    padding-bottom: 31px;
    text-align: left;
}
.buttons-tab{
    margin-right: 5%;
    cursor: pointer;
    text-transform: uppercase;
    color: hsla(0,0%,100%,.4);
    background: none;
    border: none;
    padding: 0;
    font-size: 12px;
    line-height: 1.15;
    font-weight: 900;
    border-radius: 0;
}
.active-button {
    color: #fff; 
    margin-top: 10%;
    height: 7px;
    text-decoration: underline;
     
  }
  .titleh1{
    font-family: "Graphik Web",sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -0.2px;
  }
  .titlep{
    color: #fff;
    max-width: 550px;
    text-align: left;
    margin-top: 2%;
  }
  .sport-text{
    text-align: left;
    padding-bottom: 31px;
    white-space: nowrap;
    margin-left: 15%;
}
.logos{
    display: inline-block;
    height: 53px;
    flex-wrap: wrap;
    width: 350px;
    height: 300px;
    margin: 27px auto 0;
}
.small-logo{
    margin: 0 10.5px 20px;
    width: 14%;
    height: 14%;
    border-radius: 49%; 
    background-color: #fff;
}
.text-under-logos p{  font-family: Graphik Web,Graphik,sans-serif;
font-size: 10px;
font-weight: 40px;
letter-spacing: 0;
line-height: 1.46;
text-transform: none;
color: hsla(0,0%,100%,.6);
}
@media screen and (max-width: 702px) {
    .sports {
      display: block;
      justify-content: center;
    }
  }

.table{
    padding-top: 5%;
    background-color: #0f0e0e;
    position: relative;
}
.table-header{
    color: #272c34;
    font-family: Graphik;
    position: relative;
    text-align: center;
    font-size: larger;
}
.header-title{
    margin: 0 0 16px;
   
}
.header-title h2{
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.header-container{
    display: block;
}
.base-cards{
    display: flex;
    justify-content: center;
    padding:  0px 20px 20px 20px;
   
}
.header-description{
    font-family: Graphik Web,Graphik,sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.36;
    text-transform: none;
    
}

.base-bundle{
        margin: 20px;
        justify-content:center;
        gap:30px;
        display: flex;
        width: auto;
        height: auto;
        padding: 20px;
}

.base-plans-both{
    display: block;
    align-items: baseline;
    font-family: "Graphik Web",sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0;
}
.base-plans-both img{
    margin-top: 18px;
    height: 60px;
    width: 70px;
    
}

.bundle-save-both{
    display: b;
    align-items: center;
    font-family: "Graphik Web",sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0;
}
.bundle-save-both img{
    height: 80px;
    width: 140px;
}

.switch{
    position: relative;
    width: 60px;
    height: 34px;
}
  .switch1 input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3b3a3a;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    border-radius: 50%;
  }

.cardsbundel{
    gap: 40px;
    text-align: center;;
    display: flex;
    padding: 0 0 20px 20px;
}
.card1{
    padding-top: 8px;
    padding-bottom: 31px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 189px;
}
.withADDS{
    color: #fff;
}
.silly{
    font-size: 8px;
    border-radius: 100px;
    color: #16181d;
    letter-spacing: 1px;
    background: #04cd6a;
    padding: 7px 7px 5px;
    font-weight: 1000;
}
.trail{
    font-weight: 1000;
    color: #888;
    margin-top: 6px;
    margin-bottom: 14px;
    line-height: 1;
    font-size: 13px;
    text-transform: uppercase;
}
.hulu-withadd{
    margin-bottom:8px ;
}
.hulu-button{
    text-transform: capitalize;
    height: 40px;
    min-width: 100px;
    padding: 0;
}
.hulu-button button{width: 100%;
padding: 10px 30px;
display: inherit;
color: #0b0c0f;
font-weight: 900;
}
.block{
    padding: 0 10% 1% 10%;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
}
.block-title{
    flex-basis: 600px;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    font-size: 10px;
    
}
.block-title span{
    font-family: "Graphik Web",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.36;
    letter-spacing: 0;
    flex: content;
}
.left-price{
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.right-price{
    justify-content: space-between;
    display: flex;
    align-items: end;
}




.block img{
    height: 30px;
    width: 30px;
}
.price-blocks{padding-bottom: 5%;}














footer{
    padding: 10%;
}
.contain{
    display: flex;
}
.container {
    display: table;
    width: 100%;
    border-collapse: collapse;
  }
.col h3{
    margin-left: 20px;
    margin-bottom: 20px;
    color: #272c34;
    font-family: "Graphik Web",sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}
  .col {
    display: table-cell;
    vertical-align: top;
  }
  .col li{
    font-family: "Graphik Web",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    letter-spacing: 0;
    color: #586174;
    list-style-type: none;
    padding-top: 1px;
  }
  .social {
    width: 100%; 
    
    margin-top: 20px; 
  }
  
 .col img{
    text-align: left;
    height: 30px;
    width: 30px;
 }
.social ul {
    list-style: none;
    padding: 0;
    display: flex;
   
  }
  .col li{
    margin-left: 20px;
  }
  .social li{
    margin-left: 20px;
  }
  
hr{
    width: 90%;
    margin: 5%;
}
@media (max-width: 767px){
.contain {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}
}
.social span{
    color:#0f0e0e;
    margin-left: 20px;
    font-family: "Graphik Web",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.44;
    letter-spacing: 0;
  }
  .social a{
    color:#0f0e0e;
    margin-left: 20px;
    cursor: pointer;
    font-family: "Graphik Web",sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.44;
    letter-spacing: 0;
  }
